<h1>
    {{ title }}
</h1>

<app-colores>

</app-colores>
<app-colores>

</app-colores>
<div class="contenedor">
    <div *ngIf="valor1">
        <h1>Titulo 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et interdum odio, vel bibendum sapien. Donec
            sed lobortis nisi, vel venenatis mauris. Donec et sem sagittis, lobortis lorem consequat, egestas diam.
            Donec luctus sapien at scelerisque dignissim. Vivamus augue risus, fringilla et tempor ac, tempus
            scelerisque tellus. Donec ac neque ornare, laoreet nisi ac, eleifend urna. Aenean pellentesque risus a
            fermentum fermentum. Cras at odio vitae tellus sagittis faucibus. Donec efficitur urna vitae accumsan
            tempor. Quisque nec est sed eros vestibulum finibus vitae in erat. Integer condimentum erat vel lacus ornare
            ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Quisque in ante porttitor, scelerisque ante eu, rutrum ipsum. <br />
            <br />
            Cras bibendum iaculis pellentesque. Morbi ac laoreet mi. Maecenas sit amet porta ante. Donec ultrices quam
            nisl, non euismod sapien convallis eget. Nulla id nisl ex. Cras elementum porttitor arcu, nec malesuada odio
            sagittis eget. Nulla euismod nunc mollis, posuere lacus vitae, molestie dolor. Aliquam tristique nisi eget
            semper lacinia. Donec vel tempor nulla. Nam at facilisis enim. Maecenas sit amet feugiat libero. Aenean
            sagittis dignissim nibh, ac pharetra sapien molestie a. Integer et mauris massa. Proin sagittis, felis
            sagittis tristique elementum, ex purus sollicitudin massa, ac accumsan lorem velit eget lacus. Quisque porta
            est a efficitur fringilla. <br />
            <br />
            Maecenas vulputate quis neque vitae iaculis. Aenean odio tortor, rhoncus et nisl nec, facilisis blandit sem.
            Proin auctor ex id ante congue auctor eu ut est. Suspendisse eu lorem quam. Pellentesque in dui neque. In
            nec nisi eu quam sollicitudin eleifend posuere quis lacus. Nullam non iaculis nisl, ac scelerisque mauris.
            Curabitur a ultrices lacus.</p>
    </div>
</div>
<div class="contenedor">
    <div *ngIf="valor2">
        <h1>Titulo 2</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et interdum odio, vel bibendum sapien. Donec
            sed lobortis nisi, vel venenatis mauris. Donec et sem sagittis, lobortis lorem consequat, egestas diam.
            Donec luctus sapien at scelerisque dignissim. Vivamus augue risus, fringilla et tempor ac, tempus
            scelerisque tellus. Donec ac neque ornare, laoreet nisi ac, eleifend urna. Aenean pellentesque risus a
            fermentum fermentum. Cras at odio vitae tellus sagittis faucibus. Donec efficitur urna vitae accumsan
            tempor. Quisque nec est sed eros vestibulum finibus vitae in erat. Integer condimentum erat vel lacus ornare
            ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Quisque in ante porttitor, scelerisque ante eu, rutrum ipsum. <br />
            <br />
            Cras bibendum iaculis pellentesque. Morbi ac laoreet mi. Maecenas sit amet porta ante. Donec ultrices quam
            nisl, non euismod sapien convallis eget. Nulla id nisl ex. Cras elementum porttitor arcu, nec malesuada odio
            sagittis eget. Nulla euismod nunc mollis, posuere lacus vitae, molestie dolor. Aliquam tristique nisi eget
            semper lacinia. Donec vel tempor nulla. Nam at facilisis enim. Maecenas sit amet feugiat libero. Aenean
            sagittis dignissim nibh, ac pharetra sapien molestie a. Integer et mauris massa. Proin sagittis, felis
            sagittis tristique elementum, ex purus sollicitudin massa, ac accumsan lorem velit eget lacus. Quisque porta
            est a efficitur fringilla. <br />
            <br />
            Maecenas vulputate quis neque vitae iaculis. Aenean odio tortor, rhoncus et nisl nec, facilisis blandit sem.
            Proin auctor ex id ante congue auctor eu ut est. Suspendisse eu lorem quam. Pellentesque in dui neque. In
            nec nisi eu quam sollicitudin eleifend posuere quis lacus. Nullam non iaculis nisl, ac scelerisque mauris.
            Curabitur a ultrices lacus.</p>
    </div>
</div>

<hr />

<button (click)="valor1 = true">Texto 1</button>
<button (click)="valor2 = !valor2">Texto 2</button>

<hr />
<p>Valor1 : {{ valor1 }}</p>
<p>Valor1 : {{ valor2 }}</p>

<app-colores>

</app-colores>
<app-aleatorio>

</app-aleatorio>